body {
    background: #fff url("https://static.lioden.com/images/layout/background.jpg") fixed no-repeat;
    text-align: center;
    font-family: Calibri;
    font-size: 18px;
}

a {
    color: #E66935;
    font-weight: bold;
}

input {
    margin: 10px;
}

#submit, #reload {
    margin: 10px 0;
}

label {
    font-weight: bold;
    font-size: 20px;
}

#url {
    width: 400px;
    text-align: center;
    border-radius: 5px;
}

.button {
    background-color: #E66935;
    font-family: Calibri;
    color: white;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    border: 3px solid #361700;
    border-radius: 20px;
    cursor: pointer;
    vertical-align: top;
}

#output {
    width: 640px;
    color: #472E27;
    margin: auto;
    font-weight: bold;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

#reload {
    font-family: Lucida Sans Unicode;
    line-height: 26px;
}